.vscode/
node_modules
.idea/
npm-debug.log
build/
polyfills-bundles/
dist/
dist-gzip/
.sass-cache/
logs/
.DS_Store
.git-deploy
/bower_components/
*.log
*.sublime-project
*.sublime-workspace
rancher-compose.yml
*.swp
*.swo
*~
~*
.drone.sec.yml
.nyc_output
coverage
.env
.env
/Dockerfile
*.rdb